.advantages__list {
  @include clear-list;
}

.advantages__box {
  color: $base;
  text-align: center;
  position: relative;

  &--blue {
    background-color: $style;
    padding: 39px 19px 34px 19px;

    @media (min-width: $tablet-width) {
      padding: 43px 36px 41px 36px;
    }

    @media (min-width: $desktop-width) {
      padding: 47px 52px 57px 53px;
    }
  }

  &--decor {
    padding: 54px 25px 40px 19px;
    font-weight: 700;

    @media (min-width: $tablet-width) {
      font-weight: 400;
      padding: 40px 32px 44px 32px;
    }

    &::before {
      content: "";
      background-color: $base;
      width: 100%;
      height: 37px;
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(100% 0, 50% 80%, 0 0);

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--grey {
    color: $text;
    background-color: $box;
    padding: 26px 19px 24px 19px;
    border-bottom: 1px solid $delimiter;

    &:last-child {
      border-bottom: none;
    }

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      width: 256px;
      padding: 42px 32px 41px 32px;
      border: none;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      padding: 43px 43px 62px 42px;
    }
  }

  &--second {
    padding: 26px 42px 24px 40px;
  }

  &--third {
    padding: 26px 32px 24px 32px;
  }
}

.advantages__item {
  &--sub {
    padding-top: 30px;
    padding-left: 65px;
    position: relative;
    border: none;

    p {
      margin-top: 16px;

      @media (min-width: $tablet-width) {
        margin-top: 25px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 256px;
      box-sizing: border-box;
      padding: 158px 36px 59px 35px;
    }

    @media (min-width: $desktop-width) {
      width: 400px;
      padding: 159px 59px 80px 59px;
    }
  }

  &--house {
    padding-right: 30px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-house.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 39px;
      height: 37px;
      top: 25px;
      left: 18px;

      @media (min-width: $tablet-width) {
        width: 75px;
        height: 72px;
        top: 60px;
        left: 90px;
      }

      @media (min-width: $desktop-width) {
        top: 59px;
        left: 161px;
      }
    }
  }

  &--food {
    padding-left: 70px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-burger.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 39px;
      height: 37px;
      top: 25px;
      left: 18px;

      @media (min-width: $tablet-width) {
        width: 76px;
        height: 68px;
        top: 60px;
        left: 90px;
      }

      @media (min-width: $desktop-width) {
        top: 59px;
        left: 161px;
      }
    }
  }

  &--souvenirs {
    padding-left: 62px;
    padding-bottom: 52px;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icon-gift.svg");
      background-repeat: no-repeat;
      background-size: 100% auto;
      width: 32px;
      height: 38px;
      top: 22px;
      left: 22px;

      @media (min-width: $tablet-width) {
        width: 64px;
        height: 75px;
        top: 60px;
        left: 90px;
      }

      @media (min-width: $desktop-width) {
        top: 59px;
        left: 161px;
      }
    }
  }

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  position: relative;
  color: $caption;

  &--white {
    color: $base;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.advantages__number {
  margin-top: 11px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-bottom: 23px;
  }
}

.advantages__description {
  margin: 0;
}

.advantages__sublist {
  @include clear-list;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    text-align: center;
    padding: 0;
  }

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.advantages__line {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantages__photo {
  &--beginning {
    order: -1;
  }
}
