.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $base;
  background-color: $style;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
