.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: $style-color;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 0;
}
