.comment {
  padding: 24px 20px 56px 20px;
  border-top: 1px solid $line;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 47px;
    border: none;
  }
}

.comment__line {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 100%;
      background-color: $devider;
      z-index: 1;
    }
  }
}

.comment__wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.comment__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $caption;
  background-color: $base;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    position: relative;
    z-index: 2;
  }
}
