.copyright__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $caption;
  text-decoration: none;

  &:hover {
    color: $style;
  }

  &:active {
    color: $signature;
  }
}

.copyright__logo {
  color: currentColor;
  vertical-align: middle;
  margin-left: 10px;

  &:hover {
    fill: $style;
  }

  &:active {
    fill: $signature;
  }
}
