.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $caption;
  margin-right: 11px;

  &:hover {
    color: $style;
  }

  &:active {
    color: $signature;
  }
}

.copyright__logo {
  &:hover {
    fill: $style;
  }

  &:active {
    fill: $signature;
  }
}
