.grade {
  padding: 24px 20px 34px 20px;

  @media (min-width: $tablet-width) {
    padding: 48px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 11px 73px 53px;
  }
}

.grade__group {
  @include clear-list;
}

.grade__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $caption;
  background-color: $base;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.grade__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.grade__item {
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
  }

  &:last-child {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  &:first-child {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}
