.guide {
  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.guide__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 400px 400px 400px;
  }
}

.guide__card {
  padding: 24px 20px 25px 20px;
  border-top: 1px solid $line;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }

  &:last-child {
    border-bottom: 1px solid $line;
  }

  &--sub {
    @media (min-width: $tablet-width) {
      grid-column: 1/3;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/4;
    }
  }
}

.guide__title {
  margin-bottom: 12px;
  margin-top: 15px;
  color: $caption;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    color: $base;
  }
}

.guide__author {
  margin-bottom: 11px;
  margin-top: 12px;
  text-transform: initial;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    color: $base;
  }
}

.guide__button {
  @include clear-list;
  background-color: transparent;
  color: $caption;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: $desktop-width) {
    color: $base;
  }
}

.guide__photo {
  position: relative;
}

.guide__item {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: $input;

    &--active {
      background-color: $contact;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}

.guide__caption {
  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-top: 22px;
    padding-bottom: 15px;
  }
}

.guide__likes {
  @media (min-width: $tablet-width) {
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 27px;
  }
}

.guide__icon {
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  @media (min-width: $desktop-width) {
    fill: $base;
    opacity: 1;
  }
}

// .guide__quantity {

// }
