.main-footer__wrapper {
  text-align: center;
  margin-top: 34px;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    padding: 31px 60px 36px 45px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-left: 104px;
  }

  &--form {
    margin-top: 52px;

    @media (min-width: $tablet-width) {
      padding-top: 35px;
    }
  }

  &--catalog {
    margin-top: 28px;

    @media (min-width: $tablet-width) {
      padding-top: 35px;
    }
  }
}

.main-footer__social {
  margin-top: 33px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 253px;
  }
}

.main-footer__website {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $caption;
  width: 166px;

  @media (min-width: $tablet-width) {
    padding-top: 11px;
  }

  &:hover {
    color: $style;
  }

  &:active {
    color: $current;
    opacity: 0.3;
  }

  &:focus {
    color: $current;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
