.main-footer {
  text-align: center;
  margin-top: 39px;
  margin-bottom: 23px;
}

.main-footer__social {
  margin-top: 33px;
  margin-bottom: 40px;
}

.main-footer__website {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $caption;
}
