.main-navigation {
  min-height: 56px;
  position: relative;

  &--closed {
    .main-navigation__toggle {
      background-image: url("../img/icon-menu.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

    .main-navigation__wrapper {
      display: none;

      @media (min-width: $tablet-width) {
        position: static;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &--opened {
    .main-navigation__toggle {
      background-image: url("../img/icon-cross.svg");
      background-repeat: no-repeat;
      z-index: 2;
    }

    .main-navigation__wrapper {
      position: absolute;
      z-index: 1;
      width: 100%;
    }
  }
}

.main-navigation__toggle {
  position: absolute;
  width: 23px;
  height: 22px;
  border: none;
  background-color: transparent;
  top: 17px;
  right: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover {
    fill: $style;
    opacity: 0.6;
  }

  &:active {
    fill: $style;
    opacity: 0.3;
  }
}

.main-navigation__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 306px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}
