.main-header {
  color: $caption;
  background-color: $base;

  &--nojs {
    .main-navigation__toggle {
      display: none;
    }

    .main-header__logo {
      display: none;
    }
  }
}

.main-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
