.nickname {
  padding: 24px 20px 39px 20px;
  border-top: 1px solid $line;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: auto;
    border: none;
  }
}

.nickname__group {
  @include clear-list;
}

.nickname__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $caption;
  background-color: $base;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.nickname__list {
  @include clear-list;
}

.nickname__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}
