.comment__title,
.place__title,
.grade__title,
.contact__title,
.nickname__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $caption;
  background-color: $base;
  text-transform: uppercase;
  text-align: center;
}

.comment__list,
.place__list,
.grade__list,
.contact__list,
.nickname__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-field__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  display: block;
  width: 100%;
  height: 58px;
}

.text-field__input::placeholder {
  color: $caption;
  background-color: $box;
  height: 58px;
}

.text-field__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.choice__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $caption;
  background-color: $base;
  padding-left: 62px;
}

.comment {
  margin-bottom: 56px;
}

.nickname,
.contact,
.grade,
.place,
.comment {
  margin-top: 24px;
  margin-bottom: 24px;
}

.place__item,
.grade__item {
  margin-bottom: 36px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.place__item:last-child,
.grade__item:last-child {
  margin-bottom: 24px;
}

.place__item:first-child,
.grade__item:first-child {
  margin-top: 20px;
}
