.place {
  padding: 24px 20px 34px 20px;
}

.place__group {
  margin: 0;
  padding: 0;
  border: none;
}

.place__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $caption;
  background-color: $base;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}

.place__list {
  @include clear-list;
}

.place__item {
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;

  &:last-child {
    margin-bottom: 24px;
  }

  &:first-child {
    margin-top: 20px;
  }
}
