.place {
  padding: 24px 20px;
  border-top: 1px solid $line;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 42px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 87px;
  }
}

.place__line {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 1px;
      width: 100%;
      background-color: $devider;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.place__wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.place__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $caption;
  background-color: $base;
  text-align: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    padding: 0 47px;
  }
}

.place__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    padding: 0 84px;
    display: grid;
    grid-template-columns: 224px 224px;
    gap: 16px 32px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
  }
}

.place__item {
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &:last-child {
    margin: 0;
  }
}
