.popular-card {
  display: block;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;

    &--prime {
      width: 648px;
      height: 400px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    &--prime {
      width: 1200px;
    }
  }
}
