.presentation {
  text-align: center;
}

.presentation__question {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.presentation__invitation {
  margin: 0;
  padding: 37px 27px 38px 27px;
}

.presentation__player {
  padding: 0 20px;
}
