.promo-catalog {
  background-image: url("../img/back-mobile.jpg");
  background-size: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  background-color: $input;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back-desktop.jpg");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-desktop@2x.jpg"), url("../img/back-mobile@2x.jpg");
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-image: url("../img/divider-desktop.svg");
    background-size: cover;
    background-position: center;
    width: 320px;
    height: 57px;

    @media (min-width: $tablet-width) {
      width: 768px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }
}

.promo-catalog__style {
  display: block;
  padding: 52px 45px 67px 45px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 95px;
    padding-bottom: 117px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
    padding-bottom: 120px;
  }
}
