.promo-text {
  padding: 33px 28px 34px 25px;

  &--form {
    padding: 37px 19px 27px 19px;
  }

  &--wide {
    padding: 33px 20px 41px 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 47px 124px 56px 124px;

    &--wide {
      padding: 62px 155px 63px 155px;
    }

    &--form {
      padding: 64px 166px 102px 165px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 59px 358px 45px 358px;

    &--wide {
      padding: 100px 371px 65px 371px;
    }

    &--form {
      padding: 113px 380px 70px 380px;
    }
  }
}

.promo-text__slogan {
  font-size: 18px;
  line-height: 26px;
  color: $caption;
  background-color: $base;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 30px;
  }

  &--catalog {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 26px;
    }
  }

  &--form {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 32px;
    }
  }
}

.promo-text__intro {
  text-align: center;
  margin: 0;
}
