.promo-catalog {
  background-image: url("../img/back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.promo-catalog__style {
  display: block;
  padding: 52px 45px 67px 45px;
}
