.promo {
  background-image: url("../img/back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.promo__style {
  margin: 0;
  padding: 50px 19px 85px 19px;
}

.promo-catalog {
  background-image: url("../img/back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.promo-catalog__style {
  margin: 0;
  padding: 12px 45px 67px 45px;
}
