.promo {
  background-image: url("../img/back-mobile.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-image: url("../img/divider.svg");
    width: 320px;
    height: 57px;
  }
}

.promo__style {
  display: block;
  padding: 90px 19px 85px;
}
