.review {
  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.review__button {
  display: inline-block;
  width: 100%;
  padding: 18px 0 13px;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }

  &:hover {
    background-color: $hover;
  }

  &:active {
    color: lighten($style, 20%);
  }
}

.review__necessarily {
  @include fonts;
  margin: 0;
  margin-top: 3px;
  text-align: right;
  font-size: 12px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: inline-block;
    padding-top: 23px;
    font-size: 14px;
    line-height: 21px;
  }
}
