.search {
  text-align: center;
  padding: 39px 19px 49px 19px;

  @media (min-width: $tablet-width) {
    padding: 58px 155px 58px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 371px 66px;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;
  color: $caption;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.search__description {
  margin: 0;
  margin-bottom: 32px;

  br {
    @media (min-width: $mobile-width) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.search__button {
  display: inline-block;
  width: 100%;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    width: 458px;
  }

  &:hover {
    background-color: $hover;
  }

  &:active {
    color: lighten($style, 20%);
  }

  &:disabled {
    background-color: $line;
  }
}
