.search {
  text-align: center;
  padding: 39px 19px 49px 19px;

  @media (min-width: $tablet-width) {
    padding: 61px 155px 58px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 371px 58px 371px;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 30px;
}

.search__description {
  margin: 0;
  margin-bottom: 32px;
}

.search__button {
  display: inline-block;
  width: 100%;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    width: 458px;
    padding: 16px 0;
  }
}
