.site-list__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: $caption;
  background-color: $base;
  padding-top: 17px;
  padding-bottom: 12px;
  text-align: center;
}
