.site-list__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: $caption;
  background-color: $base;
  padding-top: 17px;
  padding-bottom: 12px;
  text-align: center;

  @media (min-width: $mobile-width) {
    padding-top: 17px;
    padding-bottom: 12px;
    font-size: 18px;
    line-height: 26px;
    color: $base;
    background-color: $style;
  }

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 17px;
    font-size: 14px;
    line-height: 21px;
    color: $caption;
    background: none;
  }
}

.site-list__item {
  @media (min-width: $mobile-width) {
    border-top: 1px solid (lighten($base, 20%));
    border-bottom: 1px solid (darken($style, 20%));

    &:last-child {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        height: 7px;
        width: 100%;
        box-shadow: inset 0 0 7px -4px lighten($caption, 20%);
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 153px;
    border: none;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 240px;
  }
}
