.text-field__icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: $contact;

  &--email {
    padding: 23px 21px;
  }
}

.text-field__input {
  @include fonts;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: $caption;
  background-color: $input;
  padding: 16px;
  resize: none;
  margin: 0 auto;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
    margin: 0 auto;

    &--info {
      width: 403px;
    }
  }

  &--textarea {
    min-height: 150px;

    @media (min-width: $tablet-width) {
      width: 100%;
      min-height: 160px;
    }

    @media (min-width: $desktop-width) {
      width: 768px;
    }
  }

  &:hover {
    background-color: $line;
  }

  &:active,
  &:focus {
    background-color: $base;
    outline: 4px solid $line;
  }

  &::placeholder {
    color: lighten($caption, 70%);
    background-color: transparent;
  }
}

.text-field__label {
  margin-left: 16px;
}
