.text-field__input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: $caption;
  background-color: $input;
  padding: 16px;
  resize: none;

  @media (min-width: $tablet-width) {
    width: 280px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }

  &::placeholder {
    color: $caption;
    background-color: $input;
  }

  &--textarea {
    min-height: 150px;

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 768px;
      min-height: 160px;
    }
  }
}

.text-field__label {
  margin-left: 16px;
}
