.container {
  margin: 0 auto;
  // background-color: $base;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  @media (min-width: $mobile-width) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
