$style: #81b3d2;
$box: #eeeeee;
$caption: #000000;
$text: #333333;
$input: #f2f2f2;
$base: #ffffff;
$current: #766357;
$delimiter: #d6d6d6;
$volume-top: #9ac2db;
$volume-bottom: #678fa8;
$hover: #669ec0;
$active: #5496bd;
$line: #e5e5e5;
$contact: #e6e6e6;
$press: #d5d5d5;
$devider: #dbdbdb;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
